{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - login{% endblock %}

{% block content %}
        <p class="home">Upload Files</p>
        <div class="messageUpload">Upload your files here :</div>
        <form class="formUpload" name="upload" method="POST" enctype="multipart/form-data">
            <label for="file" class="labelFile"><img class="spear" src="assets/img/spear.png" alt="icon spire"><img class="icon_file" src="assets/img/icon_file.png" alt="icon file"></label>
            <input type="file" id="file" name="inputFile" class="inputFile" onchange="">
            <br>name: <input type="text" name="nameFile" class="nameFile">
            <button>Upload</button>
        </form>
        {% for message in messagesUpload %}
            <div class="messagesUpload">{{ message }}</div>
        {% endfor %}
    <div class="createDirectory"> Create a directory: </div>
    <form method="POST">
        <br>
        name: <input name="nameDirectory" type="text"><br>
        <button class="btnCreate">Create</button>
    </form>

    <div class="files">files</div>
    <div class="listFiles">
    {% for file in list %}
        <a class="list" href="?action=files&path={{ path }}/{{ file }}">{{file}}</a>
        <a href="?action=files&path={{ path }}&name={{ file }}#pop-up"><img class="icon_edit" src="assets/img/icon_edit.png" alt="icon edit"></a>
        <a href="?action=files&path={{ path }}&delete={{ file }}"><img class="icon_delete" src="assets/img/icon_delete.png" alt="icon delete"></a><br>
        <div id="pop-up">
            <div class="popUp">
                <form class="formPopUp" method="POST">
                    <ul>
                        <li class="exitPopup"><a href="#">X</a></li>
                        <li class="edit">Change the File name</li>
                        <li><input type="text" name="newName" class="inputEdit" value="{{ file }}"></li>
                        <li><button class="btnForm" id="btnEdit">Enter</button></li>
                    </ul>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}