{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - Files{% endblock %}

{% block content %}
        <p class="home">Upload Files</p>
        <div class="messageUpload">Upload your files here :</div>
        <form class="formUpload" name="upload" method="POST" enctype="multipart/form-data">
            <label for="file" class="labelFile"><img class="spear" src="assets/img/spear.png" alt="icon spire"><img class="icon_file" src="assets/img/icon_file.png" alt="icon file"></label>
            <input type="file" id="file" name="inputFile" class="inputFile" onchange="">
            <br>name: <input type="text" name="nameFile" class="nameFile">
            <button>Upload</button>
        </form>
        {% for message in messagesUpload %}
            <div class="messagesUpload">{{ message }}</div>
        {% endfor %}
    <div class="createDirectory"> Create a directory: </div>
    <form method="POST">
        <br>
        name: <input name="nameDirectory" type="text"><br>
        <button class="btnCreate">Create</button>
    </form>

    <div class="files">Files</div>
    <div class="listFiles">
    {% for directoryName in directory %}
        <img class="icon_dir" src="assets/img/icon_dir.jpg">
        <a class="list" href="?action=files&path={{ path }}/{{ directoryName }}">{{directoryName}}</a>
        <a href="?action=files&path={{ path }}&name={{ directoryName }}#pop-up"><img class="icon_edit" src="assets/img/icon_edit.png" alt="icon edit"></a>
        <a href="?action=files&path={{ path }}&delete={{ directoryName }}"><img class="icon_delete" src="assets/img/icon_delete.png" alt="icon delete"></a><br>
    {% endfor %}
    {% for fileName in file %}
        <img class="iconFileList" src="assets/img/icon_file.png">
        <a class="list" href="{{ path }}/{{ fileName }}">{{fileName}}</a>
        <a href="?action=files&path={{ path }}&name={{ fileName }}#pop-up"><img class="icon_edit" src="assets/img/icon_edit.png" alt="icon edit"></a>
        <a href="?action=files&path={{ path }}&delete={{ fileName }}"><img class="icon_delete" src="assets/img/icon_delete.png" alt="icon delete"></a>
        <a href="?action=files&path={{ path }}&download={{ fileName }}"><img class="icon_delete" src="assets/img/icon_download.png" alt="icon delete"></a><br>
    {% endfor %}
        <div id="pop-up">
            <div class="popUp">
                <form class="formPopUp" method="POST">
                    <ul>
                        <li class="exitPopup"><a href="#">X</a></li>
                        <li class="edit">Change the File name</li>
                        <li><input type="text" name="newName" class="inputEdit" value=""></li>
                        <li><button class="btnForm" id="btnEdit">Enter</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}